JWT_SECRET_KEY=myTestJwtTokenLongRandomSecretKey1234567890
MY_ORIGIN=http://localhost
MY_DOMAIN=localhost
MY_MAIL=test@localhost.com
MY_MAILPASS=test
MY_MAILHOST=test.ne.jp

# DB
DB_USER=appUser
DB_PASSWORD=example
DB_HOST=db
DB_NAME=mydb

# API
ANTHROPIC_API_KEY=api_key
